In [33]:
# ex.0 Получить переменную, содержащую строку со значением равным двум в одиннадцатой степени и вывести ее на экран.

x = 2 ** 11
print(str(x))

2048

In [34]:
# ex.1 Наибольшим количеством способов создать строковую переменную, содержащую текст: It's "quoted string"

a = ('It\'s "quoted string"')
print(a)

It's "quoted string"

In [35]:
# ex.2 Наибольшим количеством способов создать строковую переменную, содержащую текст:
# line1
# line2
# line3

l1 = input('')
l2 = input('')
l3 = input('')
print(f'{l1}\n{l2}\n{l3}')

In [36]:
# ex.3 Наибольшим количеством способов создать строковую переменную, содержащую текст:
# \\\\
# \\\
# \\
# \

print('\\\n\\\\\n\\\\\\\n\\\\\\\\')

\
\\
\\\
\\\\

In [37]:
# ex.4 Вывести 5й с начала и 5й с конца символ из строки 'Hello world'

st = 'Hello world'
print(st[4], st[-5])

o w

In [38]:
# ex.5 Двумя способами получить символ 'w' из строки 'Hello world'

print(st[st.find('w')])

w

In [39]:
# ex.6 Вывести символ, находящийся в середине заранее неизвестной строки, полученной с помощью функции input()

st = input('')
a = len(st) // 2
print(st[a])

IndexError: string index out of range

In [40]:
# ex.7 Для строки 'Light ray' двумя способами получить подстроку с 1го по 4й символы включительно.

st = 'Light ray'
print(st[0:3])

Lig

In [41]:
# ex.8 Для строки 'My new text' двумя способами получить подстроку с 3го по 7й символы включительно.

st = 'My new text'
print(st[2:6])

 new

In [42]:
# ex.9 Получить подстроку из последних 4х символов строки 'Light ray'.

st = 'Light ray'
print(st[-4:])

 ray

In [43]:
# ex.10 Составить строку из всех четных символов строки 'Light ray'.

print(st[1::2])

ih a

In [44]:
# ex.11 Составить строку из всех нечетных символов строки 'Light ray'.

print(st[::2])

Lgtry

In [45]:
# ex.12 Инвертировать (получить строку с обратной последовательностью символо) строку 'Light ray'.

print(st[::-1])

yar thgiL

In [46]:
# ex.13 Вывести c третьего с начала до предпоследнего символа заранее неизвестной строки, полученной с помощью функции input().

st = input('')
print(st[2:-2])

In [47]:
# ex.14 Получить подстроку неизвестной заранее строки, содержащую половину символов строки и расположенную по середине строки.

st = input('')
print(st[len(st)//4:(-len(st))//4])

In [48]:
# ex.15 Проверить, содержит ли произвольная строка, прочитанная в обратную сторону последовательность 'eno'

st = input('')
if st.rfind('one') >= 0:
    print('Ok')
else:
    print('Not ok')

Not ok

In [49]:
# ex.16 Получить строку, начинающуюся с последних 3 символов стркои 'Light ray', а заканчивающуюся подстрокой с 1го до 4го символа строки.

st = 'Light ray'
print(st[-3:] + st[0:3])

rayLig

In [50]:
# ex.17 Коротко записать создание строки 'oneoneoneoneoneonetwotwotwo'

st = 'one' * 6 + 'two' * 3
print(st)

oneoneoneoneoneonetwotwotwo

In [51]:
# ex.18 Разбить строку ' one,two,three,four,five,six,seven,eight,nine,ten ' на список из строк, состоящих только из названий цифр.

st = 'one,two,three,four,five,six,seven,eight,nine,ten'
lst = st.split(',')
print(lst)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [52]:
# ex.19 Вставить между всеми символами строки 'Hello world' стрелочку '->' и сохранить результат в строковой переменной(ожидаемый результат: 'H->e->l->l->o-> ->w->o->r->l->d')

st = 'Hello world'
st2 = ''
for i in range(len(st)):
    st2 = st2 + st[i] + '->'
print(st2)

H->e->l->l->o-> ->w->o->r->l->d->

In [53]:
# ex.20 Для двух произвольных строк провести сравнение на совпадение содержимого без учета регистра букв и начальных и конечных пробельных символов. Например, для двух строк ' HeLLO WOrlD' и 'hello WORLD ' такое сравнение должно возвращать True (содержание строк совпадает).

st = 'HeLLO WOrlD'
st2 = 'hello WORLD'
for i in range(len(st)):
    if st[i] == st2[i] or st[i] == st2[i].swapcase():
        print ('True')
    else: 
        print('False')

True
True
True
True
True
True
True
True
True
True
True

In [54]:
# ex.21 В строке 'hello hello Hello hello' средствами Python найти индекс второго вхождения подстроки 'hel'

st = 'hello hello Hello hello'
print(st.find('hel', 1))

6

In [55]:
# ex.22 В строке 'hello hello Hello hello' средствами Python найти индекс второго с конца вхождения подстроки 'hel'

print(st.rfind('hel', 0, 17))

6

In [56]:
# ex.23 Из заранее неизвестной строки вырезать подстроку, начинающуюся с 'he' и заканчивающееся 'on' (протестировать на строке ' start hello python world'.

st = 'start hello python world'
in1 = st.find('he')
in2 = st.find('on')
print(st[in1:in2 + len('on')])

hello python

In [57]:
# ex.24 Используя цикл for и функцию enumerate() (см. лекцию 2) в вывести произвольную строку на экран и при этом убрать все пробелы и на их месте вывести номер слова по счету (пример: исходная строка 'hello hello Hello hello' -> выведено на экран 'hello1hello2Hello3hello4')

st = 'hello hello Hello hello'
for i, ste in enumerate(st.split()):
    print(ste, (i+1),end='')

hello 1hello 2Hello 3hello 4

In [58]:
# ex.25 Сформировать строку форматирования, которая для вызова format('val1', 'val2', 'val3') будет возрващать следующий результат: 'val3-val2-val1-val2-val3'

x1, x2, x3 = 'val1', 'val2', 'val3'
print('{}-{}-{}-{}-{}'.format(x3, x2, x1, x2, x3))

val3-val2-val1-val2-val3

In [59]:
# ex. 26 Сформировать строку форматирования fs, которая на при использовании в нижеследующем коде приводит к формированию таблицы, выведенной в следующей ячейке.