In [1]:
l1 = ['1', '123', '123', '12', '1', '123']
l2 = [2, 4, -2, -3, 0 , 11 , 3 -1]

d4 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
d5 = {'a': 3, 'b': 4, 'c': 5, 'd': 6, 'e': 7, 'f': 8, 'g': 9}
d6 = {'e': 20, 'f': 21, 'g': 22, 'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

4.13) Используюя список l1 создать список, в котором каждый элемент списка l1 будет заменен значением длины строки соответствующего элемента в списке l1. Использовать генераторы, решить задачу в одну строку.

In [2]:
new_list = [len(x) for x in l1]

4.14) Подсчитать количество строк в списке l1, длина которых больше 2х. Использовать генераторы, решить задачу в одну строку.

In [3]:
count = sum(1 for x in l1 if len(x) > 2)

5.1) Написать задокументированную функцию умножения двух чисел. Для каких типов данная функция будет возвращать практически ценный результат? Написать примеры использования этой функции.

In [4]:
def multiply(x, y):
    return x * y

5.2) Написать функцию умножения принимающую от одного до трех параметров. Написать примеры использования этой функции с разным количеством параметров.

In [5]:
def multiply(*xs):
    result = 1
    for x in xs:
        result *= x
    return result

5.3) Функцию из задания 2 вызвать с приведенными ниже аргументами. Для случая a4 выбрать 3 первых и 3 последних значения.

In [ ]:
a1 = (15, 10 ,5)

a2 = (3, 1)

a3 = [2, 35, 55]

a4 = (5, 10 ,15, 20)

5.4) Реализовать функцию умножения, принимающую неограниченное количество значений. Написать примеры использования этой функции, в том числе с аргументами из задания 3.

In [10]:
def multiply(*xs):
    result = 1
    for x in xs:
        result *= x
    return result

5.5) Реализовать функции для выполнения четырех арифмитических операций преобразующих целые числа в целое число. Для двух заранее заданных целых чисел выполнить выбранную пользователем арифметическую операцию.

In [12]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y != 0:
        return x / y
    else:
        return "Деление на ноль невозможно"

op = input("Выберите операцию (+, -, *, /): ")
x = int(input("Введите первое число: "))
y = int(input("Введите второе число: "))

if op == '+':
    result = add(x, y)
elif op == '-':
    result = subtract(x, y)
elif op == '*':
    result = multiply(x, y)
elif op == '/':
    result = divide(x, y)
else:
    result = "Неправильный выбор операции"

print(f"Результат: {result}")

Выберите операцию (+, -, *, /): *
Введите первое число: 3
Введите второе число: 52
Результат: 156

5.6) Написать калькулятор для строковых выражений вида '<число> <операция> <число>', где <число> - целое число, например 113, <арифмитическая операция> - одна из операций +,-,*,/(деление нацело),%(остаток от деления),^(возведение в степень). Пример calc('13 - 5') -> 8

In [26]:
def calc(expression):
    parts = expression.split()
    x = int(parts[0])
    operator = parts[1]
    y = int(parts[2])

    if operator == '+':
        return x + y
    elif operator == '-':
        return x - y
    elif operator == '*':
        return x * y
    elif operator == '/':
        if y != 0:
            return x / y
        else:
            return "Деление на ноль невозможно"
    elif operator == '%':
        if y != 0:
            return x % y
        else:
            return "Деление на ноль невозможно"
    elif operator == '^':
        return x ** y
    else:
        return "Неверная операция"

calc('8 / 4')

2.0

5.8) Написать функцию, которая преобразует целое число (от 0 до 99) в текстовое написание числа на русском языке. Пример: to_text(15) -> 'Пятнадцать'

In [2]:
def to_text(num):
    digits = ['один', 'два', 'три', 'четыре', 'пять', 'шесть', 'семь', 'восемь', 'девять']
    teens = ['одиннадцать', 'двенадцать', 'тринадцать', 'четырнадцать', 'пятнадцать', 'шестнадцать', 'семнадцать', 'восемнадцать', 'девятнадцать']
    tens = ['десять', 'двадцать', 'тридцать', 'сорок', 'пятьдесят', 'шестьдесят', 'семьдесят', 'восемьдесят', 'девяносто']
    
    if num == 0:
        return 'ноль'
    elif num < 10:
        return d[num-1]
    elif num < 20:
        return teens[(num-10)-1]
    else:
        ten = tens[(num // 10)-1]
        dig = digits[(num % 10)-1]
        if dig:
            return ten + ' ' + dig
        else:
            return ten

to_text(32)

'тридцать два'

In [1]:
def to_int(text):
    numbers = {
        'ноль': 0, 'один': 1, 'два': 2, 'три': 3, 'четыре': 4, 'пять': 5, 'шесть': 6, 'семь': 7, 'восемь': 8, 'девять': 9,
        'десять': 10, 'одиннадцать': 11, 'двенадцать': 12, 'тринадцать': 13, 'четырнадцать': 14, 'пятнадцать': 15,
        'шестнадцать': 16, 'семнадцать': 17, 'восемнадцать': 18, 'девятнадцать': 19, 'двадцать': 20, 'тридцать': 30,
        'сорок': 40, 'пятьдесят': 50, 'шестьдесят': 60, 'семьдесят': 70, 'восемьдесят': 80, 'девяносто': 90,
        'сто': 100, 'двести': 200, 'триста': 300, 'четыреста': 400, 'пятьсот': 500, 'шестьсот': 600, 'семьсот': 700,
        'восемьсот': 800, 'девятьсот': 900
    }

    total = 0
    for word in text.split():
        total += numbers[word]
    
    return total

print(to_int('тридцать три'))

33